name: CI (continuous integration)

on:
  pull_request:
  push:
    branches: [main]
    tags: ['v*']

jobs:
  check-all-filenames:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Check all files have same name as ID
        run: |
          python scripts/check-cv-entry-filenames.py
